@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  /* =====================
     BRAND / PRIMARY
  ====================== */
  --primary: #20C3AE;
  --primary-hover: #179E8D;
  --primary-soft: #A6E9E1;
  --primary-soft-dark: #134E4A;

  /* =====================
     BACKGROUNDS
  ====================== */
  --bg-light: #F3F4F6;
  --bg-dark: #0F172A;
  --bg-card-light: #FFFFFF;
  --bg-card-dark: #111827;

  /* =====================
     TEXT
  ====================== */
  --text-primary-light: #1F2933;
  --text-primary-dark: #FFFFFF;
  --text-secondary-light: #6B7280;
  --text-secondary-dark: #9CA3AF;

  /* =====================
     ACCENTS
  ====================== */
  --accent-cta: #FF6B6B;
  --accent-warning: #F4D35E;
  --accent-link-light: #3A4F7A;
  --accent-link-dark: #A6B4E0;

  /* =====================
     BORDERS
  ====================== */
  --border-light: #E5E7EB;
  --border-dark: #374151;

  color-scheme: light;
}

@theme {
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-soft: var(--primary-soft);
  --color-primary-soft-dark: var(--primary-soft-dark);

  --color-background-light: var(--bg-light);
  --color-background-dark: var(--bg-dark);
  --color-background-card-light: var(--bg-card-light);
  --color-background-card-dark: var(--bg-card-dark);

  --color-text-primary-light: var(--text-primary-light);
  --color-text-primary-dark: var(--text-primary-dark);
  --color-text-secondary-light: var(--text-secondary-light);
  --color-text-secondary-dark: var(--text-secondary-dark);

  --color-accent-cta: var(--accent-cta);
  --color-accent-warning: var(--accent-warning);
  --color-accent-link-light: var(--accent-link-light);
  --color-accent-link-dark: var(--accent-link-dark);

  --color-border-light: var(--border-light);
  --color-border-dark: var(--border-dark);
  
  --grid-template-columns-auto: repeat(auto-fill, minmax(250px, 1fr));
}

*{
    font-family: Outfit;
}

.active hr{
    @apply block
}

::-webkit-scrollbar{
    @apply hidden
}

@media (max-width: 740px) {
    .active p{
        @apply text-white bg-primary
    } 
}

/* hide browser-native password reveal/clear icons */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
input[type="password"]::-webkit-textfield-decoration-container,
input[type="password"]::-webkit-privacy-sanitizer {
  display: none !important;
}
